.app-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 55px;
    padding: 1.5rem;
}

.app-bar-action-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}


/* @media (min-width: 850px) {
    .nav-btn {
        visibility: hidden;
        display: none;
    }
    .nav-bar {
        justify-content: flex-end;
    }
} */